---
import About from "../components/About.astro";
import Feature from "../components/Feature.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Newsletter from "../components/Newsletter.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
import "@fontsource/poppins";
---

<Layout title="Build">
  <main>
    <Navbar />
    <Hero />
    <Feature />
    <Projects />
    <About />
    <Newsletter />
  </main>
</Layout>
