<section
  class="w-[95%] lg:w-[90%] xl:max-w-[1250px] mx-auto mt-[112px] flex flex-col"
>
  <div class="w-full lg:w-[785px] mx-auto">
    <h2
      class="text-[28px] md:text-[40px] lg:text-[50px] font-semibold leading-[36px] md:leading-[50px] lg:leading-[60px] text-center"
    >
      We are a global, boutique real estate brokerage
    </h2>
  </div>
  <div
    class="mt-[45px] flex flex-col lg:flex-row justify-between items-center gap-6"
  >
    <div class="flex flex-col items-center lg:items-start">
      <h
        class="text-[24px] md:text-[32px] lg:text-[38px] font-semibold leading-[32px] md:leading-[40px] lg:leading-[45.6px]"
      >
        The transfer of real estate
      </h>
      <p class="w-full lg:w-[474px] leading-6 mt-6 text-center lg:text-left">
        Lorem ipsum dolor sit amet consectetur. Feugiat ut aliquet sit
        pellentesque sollicitudin. Egestas faucibus lacus diam in senectus
        consectetur. Mattis elit adipiscing quisque tellus scelerisque vehicula
        ante nunc. Tellus consequat nisl quis nisl justo.
      </p>
      <div
        class="flex flex-col md:flex-row items-center gap-6 mt-[25px] md:mt-[45px] w-full"
      >
        <button
          class="px-[20px] py-[10px] md:px-[35px] md:py-[15px] bg-black text-white rounded-[40px] leading-[19.2px] w-full lg:w-auto"
          >Book Now!</button
        >
        <button
          class="px-[20px] py-[10px] md:px-[35px] md:py-[15px] rounded-[40px] border border-[#BEBEBE] leading-[19.2px] w-full lg:w-auto"
          >Read More</button
        >
      </div>
      <div class="mt-10 md:mt-20 flex flex-wrap gap-6 md:gap-[95px]">
        <div class="flex flex-col gap-[5px]">
          <span
            class="text-[40px] md:text-[50px] lg:text-[67px] font-semibold leading-[50px] md:leading-[70px] lg:leading-[80.4px]"
            >12+</span
          >
          <p class="leading-[19.2px]">Customers</p>
        </div>
        <div class="flex flex-col gap-[5px]">
          <span
            class="text-[40px] md:text-[50px] lg:text-[67px] font-semibold leading-[50px] md:leading-[70px] lg:leading-[80.4px]"
            >14+</span
          >
          <p class="leading-[19.2px]">Offices</p>
        </div>
        <div class="flex flex-col gap-[5px]">
          <span
            class="text-[40px] md:text-[50px] lg:text-[67px] font-semibold leading-[50px] md:leading-[70px] lg:leading-[80.4px]"
            >10+</span
          >
          <p class="leading-[19.2px]">Students</p>
        </div>
      </div>
    </div>

    <div class="mt-10 lg:mt-0 w-full lg:w-auto">
      <img
        src="/aboutImage.png"
        alt="About Image"
        class="object-cover w-full h-full lg:w-[500px] lg:h-auto"
      />
    </div>
  </div>
</section>
