---
const { image, title, description } = Astro.props;
---

<div class="overflow-hidden flex flex-col gap-[22px]">
  <img src={image} alt={title} class="w-[50px] lg:w-[75px] h-auto" />
  <div class="flex flex-col gap-[22px]">
    <h2 class="text-[20px] lg:text-[28px] font-semibold leading-[33.6px]">
      {title}
    </h2>
    <p class="leading-6 text-sm lg:text-base">{description}</p>
  </div>
</div>
