<section
  class="bg-[url('/backgroundColor.png')] bg-cover bg-no-repeat max-w-[1380px] h-[617px] mx-auto mt-[156px] rounded-[15px]"
>
  <div class="flex relative pl-[46px] items-center">
    <div class="w-[479px] mt-[91px]">
      <span class="leading-[19.2px]">Welcome to Realstate</span>
      <h1
        class="text-[67px] font-semibold leading-[80.4px] mb-[24px] mt-[15px]"
      >
        Manage Your Property
      </h1>
      <p class="leading-6">
        Your will have everything nearby supermarket, buses , station, the
        carmen neighborhood, etc.
      </p>

      <div class="flex items-center mt-6 relative">
        <input
          type="email"
          placeholder="Enter your email"
          class="px-[25px] py-[18px] border border-gray-300 focus:outline-none rounded-l-[40px] w-[438px] rounded-[40px]"
        />
        <button
          class="px-[25px] py-[18px] bg-[#1F1F1F] text-[#FEFEFF] font-semibold rounded-[40px] leading-6 absolute right-10"
          >Get a Quote</button
        >
      </div>
    </div>

    <div>
      <img
        class="absolute right-0 top-0"
        src="/heroImage.png"
        alt="Hero image"
      />
    </div>
  </div>
</section>
