---

---

<section
  class="bg-[url('/backgroundColor.png')] bg-cover bg-no-repeat max-w-[1380px] h-[457px] mx-auto mt-[140px] rounded-[15px] mb-[110px]"
>
  <div class="flex relative pl-[43px] items-center">
    <div class="w-[642px] mt-[91px]">
      <h2 class="text-[50px] font-semibold leading-[60px]">
        Subscribe Our Newsletter
      </h2>
      <p class="leading-6 mt-[18px] w-[526px]">
        Lorem ipsum dolor sit amet consectetur. Feugiat ut aliquet sit
        pellentesque sollicitudin. Egestas faucibus lacus diam in senectus
        consectetur. Mattis elit adipiscing quisque tellus scelerisque vehicula
        ante nunc.
      </p>

      <div class="flex items-center mt-[45px] relative w-[469px]">
        <input
          type="email"
          placeholder="Enter your email"
          class="px-[25px] py-[18px] border border-gray-300 focus:outline-none rounded-l-[40px] w-[438px] rounded-[40px]"
        />
        <button
          class="px-[25px] py-[18px] bg-[#1F1F1F] text-[#FEFEFF] font-semibold rounded-[40px] leading-6 absolute right-0"
          >Get a Quote</button
        >
      </div>
    </div>

    <div>
      <img
        class="absolute right-0 -top-14"
        src="/newsletterImage.png"
        alt="Newsletter image"
      />
    </div>
  </div>
</section>
